*.prefs
*~
*swp
.buildpath
._.DS_Store
.DS_Store
.project
.settings
docs/.*.m
**/xcuserdata
**/PHPUnit_Extensions_Story_TestCase.php
.settings/*
.idea
bower.json
gulpfile.js
/nbproject/*